#interactive {
  position: relative;
}

.venntooltip {
  top: 50%;
  left: 25%;
  position: absolute;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
}

.venn-diagram:hover {
  cursor: pointer;
}

#fixed {
  position: relative;
}
#fixed .fixed-tooltip {
  position: absolute;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
}

path[data-highlight=default], text[data-highlight=default] {
  opacity: 1;
}
path[data-highlight=selected], text[data-highlight=selected] {
  opacity: 1;
}
path[data-highlight=unselected], text[data-highlight=unselected] {
  opacity: 0.2;
}

path[data-highlight=default] {
  stroke-width: 0px;
}
path[data-highlight=selected] {
  stroke: #333;
  stroke-width: 2px;
}
path[data-highlight=unselected] {
  stroke-width: 0px;
}

#venn-shape-set1-0 {
  fill: #96938d;
}

#venn-shape-set2-0 {
  fill: #804040;
}

#venn-shape-set2-1 {
  fill: #408080;
}

#venn-shape-set2-0_1,
#venn-shape-set3-0_1_2,
#venn-shape-set4-0_1_2_3,
#venn-shape-set5-0_1_2_3_4 {
  fill: #fff;
}